@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    position: fixed;
}

main {
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    #font-family: "Montserrat", sans-serif;
    font-family: "Nunito", sans-serif;
}

.glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.glass-table {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    font-size: 0.9em;
    min-width: 400px;
    text-align: left;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(31, 38, 135, 0.37);
    float: left;
}